body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    background: url(https://source.unsplash.com/random/1600x900);
    background-size:cover;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: white;
}

.clock {
    font-size: 60px;
}

.greetings {
    font-size: 40px;
}

.transition {
    transition: all 1s linear;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form span {
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.form input {
    margin-top: 15px;
    background: transparent;
    border: 0;
    border-bottom: 3px solid white;
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.form input:focus {
    outline: 0;
}

.hide {
    display: none;
}

.visually_hide {
    opacity: 0;
}